<div class="small-container cart-page">
    <mat-card-header>
        <mat-card-title>Giỏ hàng</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <table>
            <thead>
                <tr>
                    <th>Hình ảnh</th>
                    <th>Sản phẩm</th>
                    <th>Giá bán</th>
                    <th>Số lượng</th>
                    <th>Tổng tiền</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of cartItems">
                    <td><img [src]="item.product.image" [alt]="item.product.name" width="50"></td>
                    <td>{{ item.product.name }}</td>
                    <td>{{ item.product.price | number:'1.0-0' }} &#8363;</td>
                    <td>
                        <input type="number" min="1" max="99" [(ngModel)]="item.quantity"
                            (change)="updateQuantity(item)" (input)="checkNegativeInput($event)">
                    </td>
                    <td>
                        {{ item.totalPriceProduct | number:'1.0-0' }} &#8363;
                    </td>
                    <td>
                        <button mat-icon-button color="warn" (click)="removeItem(item)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </tr>

            </tbody>

        </table>
    </mat-card-content>
    <mat-card-actions class="checkout-flex">
        <div>
            <a mat-stroked-button color="warn" (click)="clearCart()" *ngIf="checkItem()">Xóa tất cả</a>
        </div>
        <div class="total-cart">
            <p>Thành tiền: {{ cartTotalPrice | number:'1.0-0' }} &#8363;</p>
            <button (click)="onCheckout()" class="btn-top" mat-raised-button color="primary">
                {{ cartService.getItems().length > 0 ? 'Thanh toán' : 'Tiếp tục mua hàng' }}
                <mat-icon>arrow_forward</mat-icon>
            </button>
        </div>
    </mat-card-actions>
</div>