<mat-card>
    <mat-card-header>
        <mat-card-title>My Cart</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of getItems()">
                    <td><img [src]="item.product.image" [alt]="item.product.name" width="50"></td>
                    <td>{{ item.product.name }}</td>
                    <td>{{ item.product.price }}</td>
                    <td>
                        <input type="number" min="1" [(ngModel)]="item.quantity" (change)="updateQuantity(item)"
                            placeholder="1">
                        <button mat-icon-button color="warn" (click)="removeItem(item)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="clearCart()">Clear Cart</button>
    </mat-card-actions>
</mat-card>