<div class="small-container cart-page">
    <div class="row row-2">
        <h2>Liên hệ với chúng tôi</h2>
    </div>
    <div class="contact-flex">
        <form class="contact-col-2 contact-form">
            <div class="input-flex">
                <mat-form-field class="input-flex-50">
                    <mat-label>Họ và tên</mat-label>
                    <input matInput placeholder="Họ và tên">
                </mat-form-field>

                <mat-form-field class="input-flex-50">
                    <mat-label>Địa chỉ</mat-label>
                    <input matInput placeholder="Địa chỉ">
                </mat-form-field>
            </div>

            <div class="input-flex">
                <mat-form-field class="input-flex-50">
                    <mat-label>Điện thoại</mat-label>
                    <input matInput placeholder="Điện thoại">
                </mat-form-field>

                <mat-form-field class="input-flex-50">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Email">
                </mat-form-field>
            </div>

            <div>
                <mat-form-field class="input-flex-full">
                    <mat-label>Tiêu đề</mat-label>
                    <input matInput placeholder="Tiêu đề">
                </mat-form-field>
            </div>

            <div>
                <mat-form-field class="input-flex-full">
                    <mat-label>Nội dung cần liên hệ</mat-label>
                    <textarea matInput placeholder="Nội dung cần liên hệ"></textarea>
                </mat-form-field>
            </div>
            <button mat-raised-button type="submit" color="warn">
                <mat-icon>send</mat-icon> Gửi liên hệ
            </button>
        </form>
        <form>
            <div class="contact-col-2">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31347.86097116905!2d106.67871630232784!3d10.850849514062668!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752841dc80e901%3A0xbf71d3d90e1b6a5!2zQW4gUGjDuiDEkMO0bmcsIFF14bqtbiAxMiwgVGjDoG5oIHBo4buRIEjhu5MgQ2jDrSBNaW5oLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1685640173719!5m2!1svi!2s"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </form>
    </div>


</div>