.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contact-col-2 {
  width: 37%;
}
.contact-flex {
  display: flex;
  justify-content: space-between;
}
.input-flex {
  display: flex;
  justify-content: space-between;
}
.input-flex-full {
  width: 100%;
}
.input-flex-50 {
  width: 48%;
}
.gg-map-size {
  width: 100%;
}
