<div class="account-page">
    <div class="container">
        <div class="row">
            <div class="col-2">
                <img src="assets/images/logo-nontext.png" width="100%">
            </div>

            <div class="col-2">
                <div class="form-container">
                    <div class="form-btn">
                        <span routerLink="/login">Đăng nhập</span>
                        <span routerLink="/register">Đăng ký</span>
                        <hr id="Indicator">
                    </div>
                    <form id="RegForm">
                        <input type="text" placeholder="Tên đăng nhập">
                        <input type="email" placeholder="Email">
                        <input type="password" placeholder="Mật khẩu">
                        <input type="text" placeholder="Họ và tên">
                        <button type="submit" class="btn">Đăng ký</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>