<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col-1">
                <h3>Sớm có mặt</h3>
                <p>Trên AppStore và CH Play</p>
                <div class="app-logo">
                    <img matTooltip="Coming soon" src="assets/images/play-store.png">
                    <img matTooltip="Coming soon" src="assets/images/app-store.png">
                </div>
            </div>
            <div class="footer-col-2">
                <h1>AgriToolHub</h1>
                <p>Chuyên cung cấp các thiết bị máy móc và công cụ hỗ trợ cho ngành nông nghiệp</p>
            </div>
            <div class="footer-col-3">
                <h3>Liên hệ</h3>
                <ul>
                    <li>Email: agritoolhub@support.com</li>
                    <li>Số điện thoại: 0888.888.889</li>
                    <li>Địa chỉ: An Phú Đông, Quận 12, TP.HCM</li>
                    <li>Giờ làm việc: 08h-17h </li>
                    <li>(từ thứ 2 - thứ 7)</li>
                </ul>
            </div>
            <div class="footer-col-4">
                <h3>Theo dõi qua</h3>
                <ul>
                    <li>Facebook</li>
                    <li>Twitter</li>
                    <li>Instagram</li>
                    <li>Youtube</li>
                </ul>
            </div>
        </div>
        <hr>
        <p class="Copyright">Copyright 2023</p>
    </div>
</div>