<!-- ---------- single Products detail ----------- -->

<div class="small-container single-product" *ngIf="product">
    <div class="row">
        <div class="col-2">
            <img src="{{product.image}}" width="100%" alt="{{ product.name }}">
        </div>
        <div class="col-2">
            <p>Sản phẩm / {{ product.name }}</p>
            <h1>{{ product.name }}</h1>
            <h4>{{ product.price | number:'1.0-0' }} &#8363;</h4>
            <input type="number" [(ngModel)]="selectedQuantity" value="1" min="1" max="99"
                (input)="checkNegativeInput($event)">
            <button class="btn btn-no-border" (click)="addToCart(product)">Thêm vào giỏ hàng</button>
            <h3>Chi tiết sản phẩm
                <i class="fa fa-indent"></i>
            </h3>
            <br>
            <p>{{ product.description }}</p>
        </div>
    </div>
</div>