<mat-card *ngFor="let product of products">
    <mat-card-header>
        <mat-card-title>{{ product.name }}</mat-card-title>
        <mat-card-subtitle>{{ product.price }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{product.image}}" alt="{{ product.name }}">
    <mat-card-content>
        {{ product.description }}
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="addToCart(product)">Add to Cart</button>
        <button mat-raised-button color="accent" [routerLink]="['/product', product.id]">View Details</button>
    </mat-card-actions>
</mat-card>

<!-- Nút điều hướng phân trang -->
<div class="pagination">
    <button mat-icon-button (click)="goToPreviousPage()" [disabled]="currentPage === 1">
        <mat-icon>chevron_left</mat-icon>
    </button>

    <span>{{ currentPage }}</span>

    <button mat-icon-button (click)="goToNextPage()" [disabled]="currentPage === getTotalPages()">
        <mat-icon>chevron_right</mat-icon>
    </button>
</div>