<div class="small-container">
    <div class="row row-2">
        <h2 for="sortOrder">Tất cả sản phẩm:</h2>
        <select id="sortOrder" [(ngModel)]="selectedSortOrder" (ngModelChange)="sortProducts(selectedSortOrder)">
            <option value="default" selected>Mặc định</option>
            <option value="asc">Từ thấp đến cao</option>
            <option value="desc">Từ cao đến thấp</option>
        </select>
    </div>
    <div class="row">
        <div class="col-4" *ngFor="let product of products">
            <a [routerLink]="['/product', product.id]">
                <img src="{{product.image}}" alt="{{ product.name }}">
            </a>
            <h4>{{ product.name }}</h4>
            <p>Giá bán: {{ product.price | number:'1.0-0' }} &#8363;</p>
            <div class="btn-atc">
                <button mat-stroked-button color="warn" (click)="addToCart(product)">Thêm vào giỏ hàng</button>
            </div>
        </div>
    </div>
    <!-- Nút điều hướng phân trang -->
    <mat-paginator class="flex-pag" #paginator [length]="filteredProducts.length" [pageSize]="pageSize"
        [pageSizeOptions]="[8, 16, 32]" (page)="handlePageChange($event)">
    </mat-paginator>
</div>