<div class="account-page">
    <div class="container">
        <div class="row">
            <div class="col-2">
                <img src="assets/images/logo-nontext.png" width="100%">
            </div>

            <div class="col-2">
                <div class="form-container">
                    <div class="form-btn">
                        <span routerLink="/login">Đăng nhập</span>
                        <span routerLink="/register">Đăng ký</span>
                        <hr id="IndicatorLogin">
                    </div>

                    <form id="LoginForm" (ngSubmit)="onLogin()" #form="ngForm">
                        <div *ngIf="errorMessage">
                            <h3 class="error-message">{{ errorMessage }}</h3>
                        </div>
                        <input type="text" id="username" name="username" placeholder="Tên đăng nhập"
                            [(ngModel)]="username" required>
                        <input type="password" id="password" name="password" placeholder="Mật khẩu"
                            [(ngModel)]="password" required>
                        <button type="submit" class="btn">Đăng nhập</button>
                        <a href="/login">Quên mật khẩu</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>