<div class="small-container cart-page">
    <form>
        <div class="checkout-title" *ngIf="cartItems.length > 0">
            <i class="fa fa-credit-card fa-4x" aria-hidden="true"></i>
            <h2>Thanh toán</h2>
        </div>
        <div class="checkout-title" *ngIf="cartItems.length === 0">
            <i class="fa fa-check-circle fa-4x" aria-hidden="true"></i>
            <h2>Đặt hàng thành công !</h2>
        </div>

        <div class="row row-co">
            <div class="col-4-co">
                <h4 class="size-3" *ngIf="cartItems.length > 0">
                    <span class="">Giỏ hàng : </span>
                    <mat-icon svgIcon="thumbs-up" aria-hidden="false" aria-label="SVG icon"
                        matBadge="{{cartItems.length}}" matBadgeColor="warn"></mat-icon>
                </h4>
                <ul class="list-group" *ngIf="cartItems.length > 0">
                    <li class="list-group-item co-list" *ngFor="let item of cartItems">
                        <div class="overflow-ellipsis">
                            <a [routerLink]="['/product', item.product.id]">
                                <h5 class="overflow-ellipsis co-pr size-4">{{ item.product.name }}</h5>
                            </a>
                            <span>{{ item.product.price }} x {{ item.quantity }}</span>
                        </div>
                        <span class="nowrap">{{ item.totalPriceProduct | number:'1.0-0' }} &#8363;</span>
                    </li>
                    <li class="list-group-item co-list">
                        <span>Tổng thành tiền </span>
                        <strong>{{ cartTotalPrice | number:'1.0-0' }} &#8363;</strong>
                    </li>
                </ul>
                <ul *ngIf="cartItems.length === 0">
                    <li class="size-3">
                        <button type="submit" class="btn" routerLink="/products">Tiếp tục mua hàng</button>
                    </li>
                </ul>
            </div>
            <div class="col-8-co" *ngIf="cartItems.length > 0">
                <h4 class="size-3">Thông tin khách hàng</h4>
                <div>
                    <mat-form-field class="example-full-width">
                        <mat-label>Họ và tên</mat-label>
                        <input matInput [(ngModel)]="customerName" name="customerName" id="customerName" required>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>Địa chỉ</mat-label>
                        <input matInput [(ngModel)]="customerAddress" name="customerAddress" id="customerAddress"
                            required>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>Điện thoại</mat-label>
                        <input matInput type="number" [(ngModel)]="customerPhone" name="customerPhone"
                            id="customerPhone" required>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>Email</mat-label>
                        <input matInput type="email" [(ngModel)]="customerEmail" name="customerEmail" id="customerEmail"
                            required>
                    </mat-form-field>
                </div>

                <button type="submit" class="btn" (click)="placeOrder()">Đặt hàng</button>
            </div>

        </div>
    </form>
</div>