.checkout-title {
  display: flex;

  align-items: center;
  flex-direction: column;
}
.size-3 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}
.size-4 {
  font-size: 1rem;
}
.row-co {
  display: flex;
  flex-direction: row-reverse;
}
.col-8-co {
  width: 60%;
  padding-right: 9px;
  padding-left: 9px;
}
.col-4-co {
  width: 40%;
  padding-right: 9px;
  padding-left: 9px;
}

@media only screen and (max-width: 768px) {
  .row-co {
    display: flex;
    flex-direction: column;
  }
  .col-8-co {
    width: 100%;
    padding-right: 9px;
    padding-left: 9px;
  }
  .col-4-co {
    width: 100%;
    padding-right: 9px;
    padding-left: 9px;
  }
  .size-3 {
    margin: 1rem;
    
  }
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.list-group {
  display: flex;
  flex-direction: column;
  padding-left: 0;
}
.list-group-item {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
}
.co-list {
  display: flex;
  justify-content: space-between;
}
.overflow-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.co-pr {
  margin-right: 10px;
}
.nowrap {
  white-space: nowrap;
}
