.col-3-blog {
  width: 31%;
  padding-left: 9px;
  padding-right: 9px;
}
.blog-h {
  height: 450px;
  margin-top: 14px;
  margin-bottom: 14px;
  border: 1px solid rgba(0, 0, 0, 0.125);
}
.col-3-blog img {
  max-width: 100%;
}
.dt-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn-size {
  width: 100px;
}
.date-size {
  font-size: 12px;
}
.h-content,
.title-content {
  height: 100px;
}
.title-content {
  margin-top: 10px;
}
.blog-page {
  margin-bottom: 80px;
}
.blog-img {
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 1037px) {
  .col-3-blog {
    width: 100%;
    padding-left: 9px;
    padding-right: 9px;
  }
  .blog-h {
    margin-top: 14px;
    margin-bottom: 14px;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.125);
  }
  .col-3-blog img {
    max-width: 70%;
  }
  .h-content,
  .title-content {
    padding: 10px 0;
  }
}
