<div class="small-container blog-page">
    <div class="row row-2">
        <h2>Tin tức</h2>
    </div>
    <div class="row">
        <div class="col-3-blog blog-h">
            <div class="blog-img">
                <img
                    src="https://sieuthihaiminh.vn//upload/images/tin-tuc/Cac-loai-may-thoi-la-pho-bien-tren-thi-truong-va-uu-diem-cua-tung-loai-2(1)_1_695x469.png" />
            </div>

            <div class="title-content">
                <h3>
                    Các loại máy thổi lá phổ biến trên thị trường và ưu điểm của từng loại
                </h3>
            </div>

            <div class="h-content">
                <p>Máy thổi lá là một công cụ điện cơ được sử dụng dùng để thu gom di chuyển và làm sạch các loại lá cây
                    khô, cỏ, cành cây và các...</p>
            </div>
            <div class="dt-btn">
                <span class="date-size">01/06/2023</span>
                <button class="btn-size" mat-button color="warn">Xem thêm ></button>
            </div>
        </div>
        <div class="col-3-blog blog-h">
            <div class="blog-img">
                <img
                    src="https://sieuthihaiminh.vn//upload/images/1-may-dong-dai/Cau-tao-va-nguyen-ly-hoat-dong-cua-may-dong-dai_1_695x469.jpg" />
            </div>

            <div class="title-content">
                <h3>Khám phá cấu tạo và nguyên lý hoạt động của máy đóng đai thùng</h3>
            </div>

            <div class="h-content">
                <p>
                    Bạn muốn hiểu rõ hơn về dòng máy đóng đai thùng? Hãy đọc ngay bài viết
                    dưới đây để khám phá cấu tạo và nguyên lý hoạt động của...
                </p>
            </div>
            <div class="dt-btn">
                <span class="date-size">01/06/2023</span>
                <button class="btn-size" mat-button color="warn">Xem thêm ></button>
            </div>
        </div>
        <div class="col-3-blog blog-h">
            <div class="blog-img">
                <img
                    src="https://sieuthihaiminh.vn//upload/images/1-may-hut-chan-khong/So-Sanh-May-Hut-Chan-Khong-Sunhouse-Va-Yamafuji_1_695x469.jpg" />
            </div>
            <div class="title-content">
                <h3>So Sánh Máy Hút Chân Không Sunhouse Và Yamafuji</h3>
            </div>
            <div class="h-content">
                <p>
                    Hiện nay hai thương hiệu Sunhouse và Yamafuji đã trở thành hai cái tên
                    quen thuộc với người tiêu dùng trong và ngoài nước. Để...
                </p>
            </div>
            <div class="dt-btn">
                <span class="date-size">01/06/2023</span>
                <button class="btn-size" mat-button color="warn">Xem thêm ></button>
            </div>

        </div>

        <div class="col-3-blog blog-h">
            <div class="blog-img">
                <img
                    src="https://sieuthihaiminh.vn//upload/images/1-may-thai-thit/cap-ben-may-thai-thit-cong-nghe-moi-2023_1_695x469.png" />
            </div>

            <div class="title-content">
                <h3>Cập Bến Máy Thái Thịt Hamiboss Công Nghệ Mới Năm 2023</h3>
            </div>
            <div class="h-content">
                <p>
                    Sự ra đời của thương hiệu Hamiboss đã tạo nên sự đột phá đối với ngành thiết bị gia dụng – nhà bếp
                    đem tới sự tiện lợi,
                    tính năng cũng...
                </p>
            </div>
            <div class="dt-btn">
                <span class="date-size">01/06/2023</span>
                <button class="btn-size" mat-button color="warn">Xem thêm ></button>
            </div>
        </div>

        <div class="col-3-blog blog-h">
            <div class="blog-img">
                <img
                    src="https://sieuthihaiminh.vn//upload/images/1-may-cha-san/5-May-Cha-San-Don-Cong-Nghiep-Nen-Mua-Nam-2023_1_695x469.png" />
            </div>

            <div class="title-content">
                <h3>C5 Máy Chà Sàn Đơn Công Nghiệp Nên Mua Năm 2023</h3>
            </div>
            <div class="h-content">
                <p>
                    Hãy cùng Siêu thị Hải Minh khám phá 5 máy chà sàn đơn công nghiệp nổi bật và đáng mua năm 2023...
                </p>
            </div>
            <div class="dt-btn">
                <span class="date-size">01/06/2023</span>
                <button class="btn-size" mat-button color="warn">Xem thêm ></button>
            </div>
        </div>

        <div class="col-3-blog blog-h">
            <div class="blog-img">
                <img
                    src="https://sieuthihaiminh.vn//upload/images/Cac-luu-y-quan-trong-khi-chon-mua-ba-lang-xich_1_695x469.png" />
            </div>
            <div class="title-content">
                <h3>Các lưu ý quan trọng khi chọn mua ba lăng xích</h3>
            </div>
            <div class="h-content">
                <p>
                    Ba lăng là thiết bị nâng hạ chuyên dụng được sử dụng nhiều tại các nhà xưởng, kho bãi, bến ga
                    tàu...Tuy nhiên trong quá
                    trình chọn mua...
                </p>
            </div>
            <div class="dt-btn">
                <span class="date-size">01/06/2023</span>
                <button class="btn-size" mat-button color="warn">Xem thêm ></button>
            </div>
        </div>
    </div>
</div>